.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: 204px;
  height: 56px;

  padding: 16px;
  border: none;
  border-radius: 4px;

  background-color: var(--background-button-default);
  color: var(--color-text-primary);

  font-family: var(--font-inter), sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  cursor: pointer;

  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.button:active {
  background-color: var(--background-button-pressed);
  transform: scale(0.95);
}

.button:disabled {
  background-color: var(--background-button-disabled);
  color: var(--color-text-button-disabled);
  cursor: not-allowed;
}
